<Alloy>
	<Window id="win" class="container">
		<ScrollView id="content" top="30" contentHeight="auto" layout="vertical" showVerticalScrollIndicator="true">
			<View class="row">
				<Label id="profile" class="sansPro pink" onClick="showProfile"  text="Mi perfil"  width="Ti.UI.SIZE" height="Ti.UI.SIZE" />
			</View>
			<View class="row">
				<Label id="ideas" class="sansPro aqua" onClick="showIdeas" text="Más ideas"  width="Ti.UI.SIZE" height="Ti.UI.SIZE" />
			</View>
			<View class="row">
				<Label id="newIdea" class="sansPro gold" onClick="showIdeas" text="Nueva idea"  width="Ti.UI.SIZE" height="Ti.UI.SIZE" />
			</View>
    	</ScrollView>
	</Window>
</Alloy>