<Alloy>
	<Window id="win" class="container">
		<ScrollView id="content" top="30" contentHeight="auto" layout="vertical" showVerticalScrollIndicator="true">
			<View class="menuRow" onClick="showProfile" >
				<Label id="profile" class="sansPro pink menuOption" text="Mi perfil" />
			</View>
			<View class="menuRow" onClick="showSettings">
				<Label id="config" class="sansPro aqua menuOption" text="Configuración"  />
			</View>
			<View class="menuRow" onClick="showIdeas">
				<Label id="moreIdeas" class="sansPro gold menuOption" text="Más ideas"  />
			</View>
    	</ScrollView>
	</Window>
</Alloy>